#menubar {
	padding:10px;
	background-color:#000;
	color:#fff;
	margin-bottom: 10px;
}

#menubar a, #menubar a:hover, #menubar a:active, #menubar a:visited {
	color: #fff;
	text-decoration: none;
}

#menubar .form-group {
	margin: 0!important;
}

.row:last-child {
	margin-bottom: 20px;
}

.hero {
	position: absolute;
	bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.hero img{
	width: 40%;
    margin: auto;    
    display: block;
}

.urlLi {
	margin-top: 20px;
}

.hideLi {
	list-style: none;
}

.red {
	color: red;
}
.orange {
	color: orange;
}

#generateImageDiv img{
	display:none;
}
#generateImageDiv canvas{
	display:none;
}
#generateImage{
	margin-bottom: 10px;
}