{% set randomVersion = [] %}
        {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
        {% set numbers = '0123456789' %}

        {% for i in 1..10 %}
            {% set randomCharacter = random(alpha ~ alpha|upper ~ numbers ~ '-_') %}
            {% set randomVersion = randomVersion|merge([randomCharacter]) %}
        {% endfor %}
        {% set randomVersion = randomVersion|join %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Boomenator - {{ title }}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/base.css') }}?{{ randomVersion }}=0" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('boom.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('boom.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" id="menubar">
                {% if title == 'Home' %}
                    <div class="col-sm-9"><h4>{{ title }}</h4></div>
                {% else %}
                    <div class="col-sm-9"><h4><a href="{{ path('home') }}">Home</a> > {{ title }}</h4></div>
                {% endif %}
                <div class="col-sm-3">
                    {{ render(controller('AppBundle:MenuCredentials:getCredentials', {'request': app.request})) }}
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.1.1.min.js') }}" ></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" ></script>
            <script src="{{ asset('js/html2canvas.min.js') }}"></script>
            <script src="{{ asset('js/FileSaver.min.js') }}"></script>
            <script src="{{ asset('js/date.format.js') }}"></script>
            <script src="{{ asset('js/base.js') }}?{{ randomVersion }}=0" ></script>
        {% endblock %}
    </body>
</html>
