{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-sm-10 col-sm-offset-2">
			<h2>Campaign checking</h2>
			<p>Please enter the name of the campaign you want to have checked.<br>
				To search for a partial name, you need to use wildcards (*), for example: <b>CL NL*</b> will return assets that start with CL NL.<br>
				<b>Please make sure your campaign has no draft errors (top left). If it has, the tool will likely run into issues.</b></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{{ form_start(searchForm) }}
			    {{ form_widget(searchForm) }}
			{{ form_end(searchForm) }}
		</div>
	</div>
	{% if not campaignForm == null %}
		{% form_theme campaignForm 'bootstrap_3_horizontal_layout.html.twig' %}
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">
				<h3>Select campaign</h3>
				<p>More than 1 campaign matched your search results, please select the campaign to be checked.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{{ form_start(campaignForm) }}
				    {{ form_widget(campaignForm) }}
				{{ form_end(campaignForm) }}
			</div>
		</div>
	{% endif %}
	{% if not manualCheckForm == null %}
		{% form_theme manualCheckForm 'bootstrap_3_horizontal_layout.html.twig' %}
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2" id="generateImageDiv">
				<p>Please make sure to verify the manual checks before generating the image.</p>
				<button id="generateImage" class="btn-default btn">Generate image</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{{ form_start(manualCheckForm) }}
				    {{ form_widget(manualCheckForm) }}
				{{ form_end(manualCheckForm) }}
			</div>
		</div>
	{% endif %}
	{% if not results == null %}
		{% if not results.failed == null %}
			<div class="row">
				<div class="col-sm-10 col-sm-offset-2">
					<h2>{{ results.failed | raw }}</h2>
				</div>
			</div>
		{% else %}
			<div class="row">
				<div class="col-sm-10 col-sm-offset-2">
					<h2>Campaign validation results</h2>
					{% if results.eloqua %}
						<p>Campaign name: {{ results.name }} | <a href="{{ results.eloqua }}" target="_blank">View campaign</a></p>
					{% endif %}
					{% if results.nameErrors %}
						<h3>Campaign name</h3>
						<ul>
							{% for nameError in results.nameErrors %}
								<li class="red">{{ nameError }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if results.settings %}
						<h3>Campaign settings</h3>
						<ul>
							{% for setting in results.settings %}
								<li class="red">{{ setting }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if results.sharedFilter %}
						<h3>Shared Filter</h3>
							<ul>
								{% for sharedFilter in results.sharedFilter %}
									<li class="red">{{ sharedFilter | raw }}</li>
								{% endfor %}
							</ul>
					{% endif %} 
				</div>
			</div>
			{% if results.segments %}
				<div class="row">
					<div class="col-sm-10 col-sm-offset-2">
						<h2>Segments</h2>
						{% for segment in results.segments %}
							<h3>Step name: {{ segment.stepName }}</h3>
							<p>Segment name: {{ segment.name }} | <a href="{{ segment.eloqua }}" target="_blank">View segment</a></p>
							{% if segment.nameErrors %}
								<h4>Segment name</h4>
								<ul>
									{% for nameError in segment.nameErrors %}
										<li class="red">{{ nameError }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if segment.settings %}
								<h4>Campaign step settings</h4>
								<ul>
									{% for setting in segment.settings %}
										<li class="red">{{ setting }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if segment.errors %}
								<h4>Default template issues</h4>
								<ul>
								{% for sfilter in segment.errors %}
									<li class="red">{{ sfilter }}</li>
								{% endfor %}
								</ul>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
			{% if results.emails %}
				<div class="row">
					<div class="col-sm-10 col-sm-offset-2">
						<h2>Emails</h2>
						{% for email in results.emails %}
							<h3>Step name: {{ email.stepName }}</h3>
							<p>Email name: {{ email.name }} | <a href="{{ email.eloqua }}" target="_blank">View email</a></p>
							{% if email.nameErrors %}
								<h4>Email name</h4>
								<ul>
									{% for nameError in email.nameErrors %}
										<li class="red">{{ nameError }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if email.settings %}
								<h4>Campaign step settings</h4>
								<ul>
									{% for setting in email.settings %}
										<li class="red">{{ setting }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if (email.errors or email.dupOmniture or email.sizepx or email.ptags or email.outlookImages or email.comments) %}
								<h4>Email validation</h4>
								<ul>
									{% include 'tools/emailerrors.html.twig' %}
								</ul>
							{% endif %}
							{% if email.dcs %}
								<h4>Dynamic Content validation</h4>
								<ul>
									{% for dc in email.dcs %}
										<li>
											Name: <b>{{ dc.name }}</b><br>
											Steps:
											<ul>
												{% for step in dc.steps %}
													<li>
														Step name: <b>{{ step.name }}</b><br>
														{% if step.imageErrors %}
															<b>Image errors</b>
															<ul>
																{% for image in step.imageErrors %}
																	{% if image.url is empty %}
																		<li class="hideLi"><b>Image URL is missing.</b></li>
																	{% else %}
																		<li class="hideLi"><b>Image URL:</b> {{ image.url }}</li>
																	{% endif %}
																	<li class="hideLi" style="color:red">{{ image.status }}</li>
																{% endfor %}
															</ul>
															<br>
														{% endif %}
														{% if step.linkErrors %}
															<b>Link errors</b>
															<ul>
																{% for link in step.linkErrors %}
																	{% include 'tools/linkresults.html.twig' %}
																{% endfor %}
															</ul>
														{% endif %}
														{% if step.brokenFieldMerge %}
															<span style="color:red">There was a broken fieldmerge found in the dynamic content step. This mostly means that somehow the name of the fieldmerge does not match the ID on the backend (one example we had a while ago, was that an nbsp was added in the fieldmerge name).<br>
															Please inform an SME as well so they can support in figuring out what's going wrong to avoid other emails from experiencing issues.</span>
														{% endif %}
													</li>
												{% endfor %}
											</ul>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if email.images %}
								<h4>Email image validation</h4>
								<ul>
									{% for image in email.images %}
										{% if image.url is empty %}
											<li class="hideLi"><b>Image URL is missing.</b></li>
										{% else %}
											<li class="hideLi"><b>Image URL:</b> {{ image.url }}</li>
										{% endif %}
										<li class="hideLi" style="color:red">{{ image.status }}</li>
									{% endfor %}
								</ul>
							{% endif %}
							{% if email.links %}
								<h4>Email link validation</h4>
								<ul>
									{% for link in email.links %}
										{% include 'tools/linkresults.html.twig' %}
									{% endfor %}
								</ul>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock %}