{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/dropzone base.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/dropzone.min.css') }}" />
{% endblock %}

{% block body %}
	<h4>Please drag the DCC zip file into the square below.</h4>
	<form action="{{ oneup_uploader_endpoint('dcc') }}" class="dropzone" id="dccUploader" style="width:400px; height:400px; border:4px dashed black">
	</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/dropzone.min.js') }}"></script>
	<script type="text/javascript">
	Dropzone.options.dccUploader = {
		  acceptedFiles: "application/zip,.zip",
		  dictDefaultMessage: "Please drop the DCC zip file on here.",
		  dictInvalidFileType: "Only zip files are accepted",
		  success: function(){
		  	window.location.replace("{{ path('parseDCC') }}");
		  }
		};
	</script>
{% endblock %}