{% if email.errors %}
		{% for error in email.errors %}
			{% if not error is null %}
				{% if ('The following subjectline is used' in error or 'The following preheader is used' in error or 'Voucher bucket set in email is' in error) %}
					<li>
				{% elseif 'The global footer was' in error %}
					<li class="orange">
				{% else %}
					<li class="red">
				{% endif %}
				{{ error | raw }}</li>
			{% endif %}
		{% endfor %}
{% endif %}
{% if email.brokenFieldMerge %}
	<li style="color:red;">
		There was a broken fieldmerge found in the email HTML. Please double check if any fieldmerge was recently created/changed as this may have impact on all emails. This mostly means that somehow the name of the fieldmerge does not match the ID on the backend (one example we had a while ago, was that an nbsp was added in the fieldmerge name).<br>
		Please inform an SME as well so they can support in figuring out what's going wrong to avoid other emails from experiencing issues.
	</li>
{% endif %}
{% if email.dccTags %}
	<li class="red">This email contains dcc code. Please make sure it's removed, and raise to an SME so the module can be fixed.
		<ul>
			{% for dccTag in email.dccTags %}
				<li><pre>{{ dccTag }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.doubleQuotes %}
	<li class="red">There are elements that contain double set of quotes (besides alt=""). Please make sure only a single one remains.
		<ul>
			{% for doubleQuote in email.doubleQuotes %}
				<li><pre>{{ doubleQuote }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.doubleStyleTags %}
	<li class="red">There are elements that contain more than one style="". Please remove one or merge them.
		<ul>
			{% for doubleStyleTag in email.doubleStyleTags %}
				<li><pre>{{ doubleStyleTag }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.bgGradients %}
	<li class="red">There's a background gradient set, without a background color in that same style tag as a fallback for outlook. Please make sure to add a background-color to the style tag.
		<ul>
			{% for bgGradient in email.bgGradients %}
				<li><pre>{{ bgGradient }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.dupOmniture %}
	<li class="red">The following omniture is found more than once in the email, please make sure all are unique:
		<ul>
			{% for omniture in email.dupOmniture %}
				<li><pre>{{ omniture }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.outlookImages %}
	<li class="red">This email contains the old image solution "outlookimage". Please update it, instruction can be found <a href="http://images.consumerproducts.philips.com/EloquaImages/clients/PhilipsConsumerLifestyle/%7B5b9ded39-3066-43f4-9614-1339a70511bb%7D_outlookImage-fix.jpg" target="_blank">here</a>. Note: the 380 is just a example, your image could have a different value. The following images need to be updated:
		<ul>
			{% for outlookImg in email.outlookImages %}
				<li><pre>{{ outlookImg }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.sizepx %}
	<li class="red">The email contains a width/height attribute that uses px, while that will not work. Can only contain numbers and a percentage sign. The following ones have been found:
		<ul>
			{% for sizepx in email.sizepx %}
				<li><pre>{{ sizepx }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.ptags %}
	<li class="red">There are nested p tags in the email (p tag inside another p tag). Please fix these:
		<ul>
			{% for ptag in email.ptags %}
				<li><pre>{{ ptag }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.comments %}
	<li class="red">The email contains a comment that was closed incorrectly, --!> instead of -->. This will cause issues in outlook. The following have been found:
		<ul>
			{% for comment in email.comments %}
				<li><pre>{{ comment }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}
{% if email.styles %}
	<li class="red">The email contains styles in the head, or style tags on the element that contain either <b>##</b> or <b>;;</b>. Please make sure those characters are there once. The following have been found:
		<ul>
			{% for style in email.styles %}
				<li><pre>{{ style }}</pre></li>
			{% endfor %}
		</ul>
	</li>
{% endif %}