{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h2>Available exports</h2>
			</div>
		</div>
		{% for export in exports %}
			{% if  loop.index % 2 == 0 or loop.first %}
		    	<div class="row">
			{% endif %}
				<div class="col-sm-6 exportSettings">
					<h3>{{ export.type|ucfirst }}</h3>
					<p>{{ export.description }}</p>
					<a class="btn btn-default" href="{{ path('exportType', { 'type': export.type }) }}" role="button">Run {{ export.type }} CSV export</a>
				</div>
			{% if  loop.index % 2 == 0 or loop.last %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}