{% set hideClass = '' %}

{% if link.countryDomain is empty and link.author is empty and link.eloquaEditors is empty and link.omniture is empty and link.tracking is empty and (link.status == "valid" or link.status == "ok") %}
	{% set hideClass = 'hideScreenshot' %}
{% endif %}

<li class="urlLi {{ hideClass }}"><b>URL:</b> <a href="{{ link.url }}" target="_blank">{{ link.url }}</a></li>
{% if not link.text is empty %}
	<li class="hideLi {{ hideClass }}"><b>CTA text:</b> {{ link.text }}</li>
{% else %}
	<li class="hideLi {{ hideClass }}">URL on image</li>
{% endif %}
{% if not link.countryDomain is empty %}
	<li class="hideLi red"><b>{{ link.countryDomain | raw }}</b></li>
{% endif %}
{% if not link.author is empty %}
	<li class="hideLi red"><b>{{ link.author }}</b></li>
{% endif %}
{% if not link.eloquaEditors is empty %}
	<li class="hideLi red"><b>{{ link.eloquaEditors }}</b></li>
{% endif %}
{% if not link.omniture is empty %}
	<li class="hideLi red">{{ link.omniture }}</li>
{% endif %}
{% if not link.tracking is empty %}
	<li class="hideLi red">{{ link.tracking }}</li>
{% endif %}
{% if link.status == 'empty' %}
	<li class="hideLi red">The link has an empty href="". Please ensure the link is added.</li>
{% endif %}
{% if link.status == 'mailto' %}
	<li class="hideLi red">An incorrect mailto link has been used. Should be only "mailto:emailaddress".</li>
{% endif %}
{% if link.status == 'redirect' %}
	<li class="hideLi orange"><b>URL validation:</b> The link is redirecting</li>
{% endif %}
{% if link.status == 'httpredirect' %}
	<li class="hideLi orange"><b>URL validation:</b> The link is redirecting from http:// to https://. Please update the URL to contain https.<br>If this link is in a footer, please email an SME with which footer it is, and what URL should be updated to https.</li>
{% endif %}
{% if link.status == 'warning' %}
	<li class="hideLi orange"><b>URL validation:</b> Unable to validate if the link works. Please make sure to check the link.</li>
{% endif %}
{% if link.status == 'rrone' %}
	<li class="hideLi orange">R&amp;R initial form was used.</li>
{% endif %}
{% if link.status == 'rrtwo' %}
	<li class="hideLi orange">R&amp;R reminder form was used.</li>
{% endif %}
{% if link.status == 'error' %}
	<li class="hideLi red"><b>URL validation:</b> The link isn't working.</li>
{% endif %}