{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		#dccData tr:nth-child(odd) td{background:#EBEBEB}
		#dccData tr:nth-child(odd):hover td{background:#4E5066}
		#dccData tr:hover td{background:#4E5066;color:#FFFFFF}
		#dccData tr:first-child td:first-child{border-top-left-radius:3px}
		#dccData tr:first-child td:last-child{border-top-right-radius:3px}
		#dccData tr:last-child td:first-child{border-bottom-left-radius:3px}
		#dccData tr:last-child td:last-child{border-bottom-right-radius:3px}
		#dccData .tableSubHead{color:#ffffff !important;background:#999998 !important;font-size:18px;font-weight:100;padding:10px;text-align:center;text-shadow:0 1px 1px rgba(0,0,0,0.1);vertical-align:middle}
		select { white-space:pre; }
		.loader{text-align: center;margin: 0 auto 1em;display: inline-block;vertical-align: top;}
		.loader svg path, .loader svg rect{fill: #FF6700;}
		#returnLink{font-size: 16px;}
	</style>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<a id="returnLink" href="{{ path('uploadDCC') }}">Upload new DCC request</a>
				<h2>Instructions</h2>
				<p>Any emails or segments you create will be created in their respective instance. Due to several dependencies, the selected set of credentials (dropdown in menu) is ignored for this script.</p>
				{% if not namingTemplate == null %}
					<h2>Naming template</h2>
					<p>You can use the naming template below for the assets. Don't forget to replace the red parts with the correct values. Please double check it yourself as it's looking at user submitted values, which aren't always correct.<br><i>{{ namingTemplate|raw }}</i></p>
				{% endif %}
				{% if not segmentForm == null %}
					<h2>Segment</h2>
					{% form_theme segmentForm 'formview/bootstrap_3_layout.html.twig' %}
					{{ form_start(segmentForm) }}
					    {{ form_widget(segmentForm) }}
					{{ form_end(segmentForm) }}
					<div id="segmentLoader" class="loader loader--style2" title="1" style="display:none;">
						<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
								<animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
							</path>
						</svg>
					</div>
					<div id="segmentResult"></div>
				{% endif %}
				{% if not emailForm == null %}
					<h2>Emails</h2>
					{% form_theme emailForm 'formview/bootstrap_3_layout.html.twig' %}
					{{ form_start(emailForm) }}
					    {{ form_widget(emailForm) }}
					{{ form_end(emailForm) }}
					<div id="emailLoader" class="loader loader--style2" title="1" style="display:none;">
						<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
							<path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
								<animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform>
							</path>
						</svg>
					</div>
					<div id="emailResult"></div>
				{% endif %}
			</div>
			<div class="col-md-6">
				<table class="table table-striped" id="dccData">
					{% for dataset in prepData %}
                        <tr><td colspan="2" class="tableSubHead">{{ dataset.name }}</td></tr>
						{% for field in dataset.fields %}
							<tr>
								<td class="col-sm-4">{{ field.name }}</td>
								<td class="col-sm-8">{{ field.value }}</td>
							</tr>
						{% endfor %}
                    {% endfor %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}