{% extends 'base.html.twig' %}
{% form_theme searchForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		@-webkit-keyframes rotate {
			from {
				-webkit-transform: rotate(0deg);
			}
			to { 
				-webkit-transform: rotate(360deg);
			}
		}
		@-moz-keyframes rotate {
			from {
				-moz-transform: rotate(0deg);
			}
			to { 
				-moz-transform: rotate(360deg);
			}
		}
		@-ms-keyframes rotate {
			from {
				-ms-transform: rotate(0deg);
			}
			to { 
				-ms-transform: rotate(360deg);
			}
		}

		.spin
		{
			-moz-animation:1s rotate infinite linear; 
			-webkit-animation:1s rotate infinite linear; 
			-ms-animation:1s rotate infinite linear; 
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2">
				<h2>Bulk proofing</h2>
				<p>Please select if you want to search for emails directly, or for a campaign, after which you can select to send emails that are in the campaign canvas.<br>
					To search for a partial name, you need to use wildcards (*), for example: <b>CL NL*</b> will return assets that start with CL NL.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				{{ form_start(searchForm) }}
				    {{ form_widget(searchForm) }}
				{{ form_end(searchForm) }}
			</div>
		</div>
		{% if not campaignForm == null %}
			{% form_theme campaignForm 'bootstrap_3_horizontal_layout.html.twig' %}
			<div class="row">
				<div class="col-sm-12" id="campaignList">
					<h3 class="col-sm-offset-2">Select campaign</h3>
					<p class="col-sm-offset-2">Below will only show results if anything was found.</p>
					{{ form_start(campaignForm) }}
					    {{ form_widget(campaignForm) }}
					{{ form_end(campaignForm) }}
				</div>
			</div>
		{% endif %}
		{% if not emailForm == null %}
			<div class="row">
				<div class="col-sm-12" id="emailList">
				{% form_theme emailForm 'formview/bootstrap_3_horizontal_layout.html.twig' %}
					<h3 class="col-sm-offset-2">Select emails</h3>
					<p class="col-sm-offset-2">If you leave the email address field blank, the email address associated with your Eloqua account will be used to send proofs to.</p>
					<div class="form-group"><div class="checkbox col-sm-offset-2"><label><input type="checkbox" id="allEmails" onChange="$('input[type=checkbox]').prop('checked',(this.checked));"> Select all emails</label></div></div>
					{{ form_start(emailForm) }}
					    {{ form_widget(emailForm) }}
					{{ form_end(emailForm) }}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}