{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to the Boomenator</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul>
                {% for item in menuItems %}
                    {% if item.variables is empty %}
                        <li><a href="{{ path(item.path) }}">{{ item.name }}</a></li>
                    {% else %}
                        <li><a href="{{ path(item.path, {'type':item.variables}) }}">{{ item.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9 hero">
            <img src="{{ asset('images/boomenate.png') }}"/>
        </div>
    </div>
    
{% endblock %}