{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h2>Currently available credentials</h2>
				<table class="table table-striped">
                    <tr>
                        <th>Instance name</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                    {% for cred in credentials %}
                        <tr>
                            <td>{{ cred.instance }}</td>
                            <td>{{ cred.username }}</td>
                            <td>{{ cred.password }}</td>
                        </tr>    
                    {% endfor %}
                </table>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2>Save/update credentials</h2>
				<p>Saving with an existing instance name will update your credentials.</p>
				{{ form_start(form) }}
				    {{ form_widget(form) }}
				{{ form_end(form) }}
				<div id="response">{{ response }}</div>
			</div>
		</div>
	</div>
{% endblock %}